In [109]:
#Author: David Neihguk
#Date: 14th April 2020

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
%matplotlib inline
#reading data from .csv file
df = pd.read_csv("HVAC_Brussels_Noise.csv")
#setting the index to 1/3rd octave frequency
df.set_index('Freq',inplace=True)
#Logarithmic addition of noise spectrum - total noise level
Sum = [10*np.log10(sum(np.power(10,df[df.columns[0]]/10))), 10*np.log10(sum(np.power(10,df[df.columns[1]]/10))),
      10*np.log10(sum(np.power(10,df[df.columns[2]]/10))), 10*np.log10(sum(np.power(10,df[df.columns[3]]/10)))]
#Creating the Dataframe containing the total noise levels using dictionary 
df1 = pd.DataFrame({df.columns[0]:[Sum[0]], 
                    df.columns[1]:[Sum[1]],
                    df.columns[2]:[Sum[2]],
                    df.columns[3]:[Sum[3]]}) 
#Adding the total noise levels to the main DataFrame
df2 = df.append(df1)
#Replacing the last row of index by Total
df2 = df2.rename({0.0:"Total"}, axis = 'rows')
df2

        Full cooling  Partial cooling  Full ventilation  Partial ventilation
31.5       12.520000         8.990000         25.330000             27.52000
40.0       11.690000        10.570000         16.650000             20.49000
50.0       40.490000        14.920000         38.570000             15.65000
63.0       35.540000        22.760000         34.240000             36.33000
80.0       41.490000        28.490000         40.740000             27.59000
100.0      36.850000        24.150000         35.280000             34.39000
125.0      37.830000        32.730000         39.020000             35.72000
160.0      39.600000        29.910000         39.720000             26.17000
200.0      48.710000        36.740000         48.900000             37.47000
250.0      54.730000        44.240000         54.690000             45.23000
315.0      49.110000        41.900000         49.860000             48.99000
400.0      48.520000        34.730000         49.870000             40.48000
500.0      53.260000        34.780000         53.620000             39.78000
630.0      49.540000        34.260000         49.570000             37.18000
800.0      49.010000        35.170000         49.400000             39.23000
1000.0     45.540000        42.000000         47.340000             45.41000
1250.0     47.160000        35.330000         47.940000             37.87000
1600.0     44.150000        24.710000         45.710000             33.30000
2000.0     46.060000        25.620000         47.110000             29.56000
2500.0     40.940000        23.560000         41.800000             24.04000
3150.0     36.060000        21.710000         37.000000             24.01000
4000.0     29.590000        11.220000         32.160000             20.56000
5000.0      1.860000        17.820000         25.000000             17.34000
6300.0     16.410000        14.670000         20.120000             17.52000
8000.0     16.750000         9.500000         14.750000              1.03000
Total      60.515473        49.198968         60.947842             53.21347

In [110]:
#Author: David Neihguk
#Date: 14th April 2020

#Overview of data
summary = df.describe()
summary

       Full cooling  Partial cooling  Full ventilation  Partial ventilation
count     25.000000        25.000000         25.000000            25.000000
mean      37.336400        26.419200         39.375600            30.514400
std       14.470096        10.778387         11.540547            11.227427
min        1.860000         8.990000         14.750000             1.030000
25%       35.540000        17.820000         34.240000            24.010000
50%       40.940000        25.620000         40.740000            33.300000
75%       48.520000        34.780000         48.900000            37.870000
max       54.730000        44.240000         54.690000            48.990000

In [111]:
#Author: David Neihguk
#Date: 14th April 2020

#Background noise check
Background_noise = [42.3, 41.8, 43.1, 43.1]
fc = df[['Full cooling']].copy()
pc = df[['Partial cooling']].copy()
fv = df[['Full ventilation']].copy()
pv = df[['Partial ventilation']].copy()
fc = fc[fc['Full cooling']<=Background_noise[0]]
pc = pc[pc['Partial cooling']<=Background_noise[1]]
fv = fv[fv['Full ventilation']<=Background_noise[2]]
pv = pv[pv['Partial ventilation']<=Background_noise[3]]
pv
pv.describe()

       Partial ventilation
count            22.000000
mean             28.328636
std              10.095829
min               1.030000
25%              21.422500
50%              28.575000
75%              36.967500
max              40.480000

In [113]:
#Tonality assessment
#Tonal noise: In the frequency range given by the 1/3-oct. Bands from 80Hz to 8000Hz, no 1/3-oct. band of the 
#A-weighted sound power level shall have a level difference to the energetic average of
#the two adjacent 1/3-oct. bands which is higher than 1/3 
#<400 Hz: 10 dB(A)
#≥400 Hz: 5 dB(A).
#The pure tone in 1/3-oct. band is not evaluated if it is more than 7 dB(A) below the overall A-weighted 
#noise level.
x=df2[["Full cooling", "Partial cooling", "Full ventilation", "Partial ventilation"]]
#for i in range(len(x)-5):
rows =[]
index = []
for i in range(len(x)-6):
    up = x.iloc[[i+3],[0,1,2,3]]
    center = x.iloc[[i+4],[0,1,2,3]]
    down = x.iloc[[i+5],[0,1,2,3]]
    #tonality = center-0.5*(up+down)
    first = center[center.columns[0]].iloc[0]-0.5*(up[up.columns[0]].iloc[0]+down[down.columns[0]].iloc[0])
    second = center[center.columns[1]].iloc[0]-0.5*(up[up.columns[1]].iloc[0]+down[down.columns[1]].iloc[0])
    third = center[center.columns[2]].iloc[0]-0.5*(up[up.columns[2]].iloc[0]+down[down.columns[2]].iloc[0])
    fourth = center[center.columns[3]].iloc[0]-0.5*(up[up.columns[3]].iloc[0]+down[down.columns[3]].iloc[0])
    rows.append([first, second, third, fourth])
    index.append(x.index[i+4])
#print(rows)
tonal = pd.DataFrame(rows,columns=[df2.columns[0], df2.columns[1], df2.columns[2], df2.columns[3]],index=index)
tonal_400 = tonal.loc[80:400]
print(abs(tonal_400))
tonal_400_end= tonal.loc[400:6300]
abs(tonal_400_end)

       Full cooling  Partial cooling  Full ventilation  Partial ventilation
80.0          5.295            5.035             5.980                7.770
100.0         2.810            6.460             4.600                2.735
125.0         0.395            5.700             1.520                5.440
160.0         3.670            4.825             4.240               10.425
200.0         1.545            0.335             1.695                1.770
250.0         5.820            4.920             5.310                2.000
315.0         2.515            2.415             2.420                6.135
400.0         2.665            3.610             1.870                3.905

        Full cooling  Partial cooling  Full ventilation  Partial ventilation
400.0          2.665            3.610             1.870                3.905
500.0          4.230            0.285             3.900                0.950
630.0          1.595            0.715             1.940                2.325
800.0          1.470            2.960             0.945                2.065
1000.0         2.545            6.750             1.330                6.860
1250.0         2.315            1.975             1.415                1.485
1600.0         2.460            5.765             1.815                0.415
2000.0         3.515            1.485             3.355                0.890
2500.0         0.120            0.105             0.255                2.745
3150.0         0.795            4.320             0.020                1.710
4000.0        10.630            8.545             1.160                0.115
5000.0        21.140            4.875             1.140                1.700
6300.0         7.105            1.010             0.245                8.335